

hr {
    border: 0;
    height: 3px;
    background: #ccc;
    margin: 10px 0;
}
h1{
    text-align: left;
}

h3 {
    color: #000000;
    font-size: 1.5rem;
    margin: 5px 0;
    text-align: left;
}

h4 {
    color: #000000;
    font-size: 1.2rem;
    margin: 2px 0 10px 0;
    text-align: left;
}

p{
    font-weight: bold;
    text-align: left;
}

ul {
    padding-left: 20px;
}

ul li {
    text-align: left;
    padding: 5px 0;
    font-size: 1.1rem;
    color: #2c3e50;
}
h3, h4 {
    text-transform: uppercase;
}